// --------------------------------------------------
// Config
// --------------------------------------------------

//
// Colors
// --------------------------------------------------

$black: #000;
$white: #fefefe;

$base-body-font: 'Raleway', sans-serif;

a[name="jump"] {
  width: 0;
  height: 0;
}