// --------------------------------------------------
// Links
// --------------------------------------------------
a[name="jump"] {
  width: 0;
  height: 0;
}
.menu-and-heading a {
  color: $white;
}