---
layout: default
---
<div class="grid-container">
    <div class="content">
        {{ content }}
        <!-- 1 most recent post -->
        {% for post in site.posts limit: 1 %}

            <h1><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h1>
            <p class="post-meta">{{ post.date | date: '%d.%m.%Y' }}</p>
            {{ post.excerpt }}
            <a href="{{ post.url }}">Read more...</a>

            {% unless forloop.last %}<hr>{% endunless %}

        {% endfor %}

        <hr>

        <!-- 2 next most recent posts -->

        {% for post in site.posts offset:1 limit: 2 %}

            <h2><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h2>
            <p class="post-meta">{{ post.date | date: '%d.%m.%Y' }}</p>

            <a href="{{ site.url }}{{ post.url }}">Read more...</a>

            {% unless forloop.last %}<hr>{% endunless %}

        {% endfor %}

        <div>
            <a href="{{ site.url }}/blog/">More posts...</a>
        </div>

    </div>
</div>
