@use './util';
@use './styles';

header {
  height: 100vh;
  background: black;
  color: gainsboro;
  display: grid;
  justify-content: center;
  align-items: center;
  background-image: url('/images/itsme.jpg');
  background-position: center;
  background-size: cover;
}

h1 {
  font-size: 3em;
  font-family: 'Golos Text', sans-serif;
  font-weight: 400;
  transition: font-weight .45s ease-out;
}
h1:hover {
  font-weight: 800;
}